@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set Oxanium as the default font family for all text */
.text-base,
.text-sm,
.text-xs,
.text-lg,
.text-xl,
.text-2xl,
.text-3xl,
.font-medium,
.font-semibold,
.font-bold {
  font-family: 'Oxanium_400Regular';
}

.font-medium {
  font-family: 'Oxanium_500Medium';
}

.font-semibold {
  font-family: 'Oxanium_600SemiBold';
}

.font-bold {
  font-family: 'Oxanium_700Bold';
}
